body {
	background-image: url("bg.png")
}

.video-js {
	display: block;
	margin: 0 auto;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #515050;
	color: #9f9f9f;
	text-align: center;
}
